@font-face {
  font-family: 'm6x11Plus';
  src: url('assets/m6x11plus.ttf') format('truetype');
}

body {
  background-color: #3a5055;
  color: #fff;
  font-family: 'm6x11Plus';
  margin: 0;
  overflow-x: hidden;
}

.jokerCard {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 71px;
  height: 95px;
  padding: 0;
  image-rendering: pixelated;
  cursor: pointer;
  z-index: 1;
  background-size: calc(10 * 71px) calc(13 * 95px);
}

.jokerCard:hover {
  scale: 1.1;
  transition: 0.15s;
}

.jokerCard:after {
  content: '';
  width: 71px;
  height: 95px;
  left: 0;
  top: 0;
  position: absolute;
  background: inherit;
  mask-image: url(assets/Jokers.png);
  mask-position: inherit;
  mask-mode: alpha;
}

.tooltip {
  display: inline-block;
  position: relative;
  width: 71px;
  height: 95px;
  margin: 2px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #3f4a4d;
  color: white;
  text-align: center;
  border-radius: 0.75em;
  position: absolute;
  z-index: 10;
  padding: 5px;
  left: 50%;
  transform: translate(-50%, -110%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
}

.desc {
  background-color: #fff;
  color: #000;
  border-radius: 0.5em;
  padding: 0.25em;
  font-size: 0.9em;
}
